# Import Libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
for dirname, _, filenames in os.walk('archive'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

archive\3.1-data-sheet-udemy-courses-business-courses.csv
archive\3.1-data-sheet-udemy-courses-design-courses.csv
archive\3.1-data-sheet-udemy-courses-music-courses.csv
archive\3.1-data-sheet-udemy-courses-web-development.csv
archive\Entry Level Project Sheet - 3.1-data-sheet-udemy-courses-web-development.csv

## import other libraries

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv(r"D:\NEW PROJECTS\Udemy courses analysis\archive\3.1-data-sheet-udemy-courses-business-courses.csv", encoding="latin-1")
df.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,49798.0,Bitcoin or How I Learned to Stop Worrying and ...,https://www.udemy.com/bitcoin-or-how-i-learned...,0.0,65576.0,936.0,24.0,All Levels,0.56,8.0,2013-04-20T02:25:22Z,Business Finance
1,48841.0,Accounting in 60 Minutes - A Brief Introduction,https://www.udemy.com/accounting-in-60-minutes...,0.0,56659.0,4397.0,16.0,Beginner Level,0.95,1.5,2013-04-07T21:39:25Z,Business Finance
2,133536.0,Stock Market Investing for Beginners,https://www.udemy.com/the-beginners-guide-to-t...,0.0,50855.0,2698.0,15.0,All Levels,0.91,1.5,2013-12-25T19:53:34Z,Business Finance
3,151668.0,Introduction to Financial Modeling,https://www.udemy.com/financial-modeling-asimp...,0.0,29167.0,1463.0,8.0,All Levels,0.18,1.5,2014-05-27T16:22:16Z,Business Finance
4,648826.0,The Complete Financial Analyst Course 2017,https://www.udemy.com/the-complete-financial-a...,195.0,24481.0,2347.0,174.0,All Levels,0.37,10.0,2016-01-21T01:38:48Z,Business Finance

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192 entries, 0 to 1191
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1191 non-null   float64
 1   course_title         1191 non-null   object
 2   url                  1191 non-null   object
 3   price                1191 non-null   float64
 4   num_subscribers      1191 non-null   float64
 5   num_reviews          1191 non-null   float64
 6   num_lectures         1191 non-null   float64
 7   level                1191 non-null   object
 8   Rating               1192 non-null   float64
 9   content_duration     1191 non-null   float64
 10  published_timestamp  1191 non-null   object
 11  subject              1191 non-null   object
dtypes: float64(7), object(5)
memory usage: 111.9+ KB

### breaking down the timestamp

In [18]:
df['published_timestamp'] = pd.to_datetime(df['published_timestamp'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192 entries, 0 to 1191
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1191 non-null   float64
 1   course_title         1191 non-null   object
 2   url                  1191 non-null   object
 3   price                1191 non-null   float64
 4   num_subscribers      1191 non-null   float64
 5   num_reviews          1191 non-null   float64
 6   num_lectures         1191 non-null   float64
 7   level                1191 non-null   object
 8   Rating               1192 non-null   float64
 9   content_duration     1191 non-null   float64
 10  published_timestamp  1191 non-null   datetime64[ns, UTC]
 11  subject              1191 non-null   object
dtypes: datetime64[ns, UTC](1), float64(7), object(4)
memory usage: 111.9+ KB

In [20]:
df.sample(6)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
941,54246.0,3 documentos clave para administrar tu empresa...,https://www.udemy.com/3-documentos-clave-para-...,45.0,40.0,6.0,18.0,Beginner Level,0.93,1.0,2013-05-16 10:03:47+00:00,Business Finance
989,501996.0,Aprende a invertir practicando,https://www.udemy.com/aprende-a-invertir-pract...,35.0,26.0,9.0,42.0,All Levels,0.96,2.0,2015-05-28 18:12:44+00:00,Business Finance
783,518886.0,MQL4 Tutorial Golden Goose,https://www.udemy.com/mql4-tutorial-golden-goo...,20.0,135.0,5.0,12.0,All Levels,0.59,1.5,2015-06-07 19:32:46+00:00,Business Finance
649,239268.0,Level 1 2014 CFAÂ® Program â Equity Investments,https://www.udemy.com/cfa-equity/,40.0,347.0,0.0,24.0,All Levels,0.49,4.5,2015-01-30 08:19:51+00:00,Business Finance
497,66383.0,A Beginners Guide to Technical Analysis of Sto...,https://www.udemy.com/beginners-guide-to-techn...,40.0,829.0,78.0,50.0,Beginner Level,0.30,8.5,2013-09-15 15:06:02+00:00,Business Finance
123,742602.0,Financial Management Risk and Return For Secur...,https://www.udemy.com/risk-and-return-finance/,30.0,3607.0,21.0,19.0,All Levels,0.96,1.5,2016-02-03 18:04:01+00:00,Business Finance

### data cleaning
#### check if duplicated

In [21]:
df[df.duplicated()]

Empty DataFrame
Columns: [course_id, course_title, url, price, num_subscribers, num_reviews, num_lectures, level, Rating, content_duration, published_timestamp, subject]
Index: []

#### check if null

In [22]:
df[df.isnull()]

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [23]:
df.isnull().sum()

course_id              1
course_title           1
url                    1
price                  1
num_subscribers        1
num_reviews            1
num_lectures           1
level                  1
Rating                 0
content_duration       1
published_timestamp    1
subject                1
dtype: int64

In [24]:
df.dropna(inplace=True)

In [25]:
df.isnull().sum()

course_id              0
course_title           0
url                    0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
Rating                 0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

### visualizing the data
#### categorical data
#### numerical data

In [26]:
level_count = df['level'].value_counts()
print(level_count)

level
All Levels            633
Beginner Level        399
Intermediate Level    134
Expert Level           25
Name: count, dtype: int64